@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

body {
  @apply bg-backgroundWhite font-poppins text-textBlack;

  background-image: radial-gradient(#3acd83 1.5px, transparent 1.5px),
    radial-gradient(#3acd83 1.5px, #f4fbf7 1.5px);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.info-btn {
  @apply border-2 border-secondaryGreen w-24 py-2 rounded-xl mx-auto hover:bg-secondaryGreen;
}

.card-container {
  @apply relative container border-2 border-secondaryGreen max-w-md bg-gradient-to-b from-primaryGreen from-10% to-darkerPrimaryGreen overflow-hidden rounded-xl flex flex-col space-y-8 p-8 shadow-md md:max-w-lg;
}

.info-container {
  @apply flex flex-col items-start justify-center bg-secondaryGreen bg-opacity-50 space-y-4  rounded-lg p-4 transition duration-150;
}

.profile-img {
  @apply rounded-full w-24 border-secondaryGreen border-4 bg-white z-40;
}
